.block__container {
  @apply bg-color-bg-1 flex flex-col justify-center items-center max-w-full container p-5;
}

.cover {
  @apply w-full min-h-screen;
}

.block__slot {
  @apply w-full container;
}

.custom--background {
  @apply bg-no-repeat bg-auto bg-top;

  &.color {
    @apply bg-color-bg-1;

    &-2 {
      @apply bg-color-bg-2;
    }
  }

  &.mk- {
    &1 {
      background-image: url("./svg/m1.svg");
      @apply bg-bottom;
    }

    &2 {
      background-image: url("./svg/m2.svg");
      @apply bg-bottom;

      &t {
        background-image: url("./svg/m2t.svg");
      }

      &t2 {
        background-image: url("./svg/m2t2.svg");
      }
    }

    &3 {
      background-image: url("./svg/m3.svg");
      @apply bg-bottom;

      &t {
        background-image: url("./svg/m3t.svg");
      }

      &t2 {
        background-image: url("./svg/m3t2.svg");
      }
    }

    &4 {
      background-image: url("./svg/m4.svg");
      @apply bg-bottom;

      &t {
        background-image: url("./svg/m4t.svg");
      }
    }
  }
}
