.text__container {
  width: 100%;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--text-color);

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  &.left {
    text-align: left;
  }
}
