.header__container {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 1.5rem;
  background-color: orange;
  width: 100%;
}

.header__title {
  font-size: 6rem;
  line-height: 6rem;
}

.header__desc {
  padding-top: 15px;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
